<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sell products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item *ngFor="let p of products | async">
    <ion-thumbnail slot="start">
      <img [src]="p.img">
    </ion-thumbnail>
    <ion-label>
      {{ p.name }}
      <p>{{ p.price | currency:'USD' }}</p>
    </ion-label>
    <ion-button slot="end" fill="clear" (click)="delete(p.id)">
      <ion-icon name="trash" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="new">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
