<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons  color="light" slot="start">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/home']">Home</ion-button>
    </ion-buttons>
    <ion-title>Sell products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<ion-card color="light">
  <ion-item color="light" *ngFor="let p of products | async">
    <ion-thumbnail slot="start">
      <img [src]="p.img">
    </ion-thumbnail>
    <ion-label>
      {{ p.name }}
      <p>{{ p.price | currency:'EUR' }}</p>
    </ion-label>
    <ion-button color="primary" slot="end" fill="clear" (click)="delete(p.id)">
      <ion-icon name="trash" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
</ion-card>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary">
  <ion-fab-button color="primary" routerLink="new">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
