<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons>
     <!-- <ion-col style = "margin-right: 200px;">
        <ion-button expand="full" fill="clear" color="light" (click)="logout()">
          <ion-icon name="md-menu" slot="start"></ion-icon>
          Menu
        </ion-button>
      </ion-col>-->
        <ion-col style = "margin-right: 200px;">
        <ion-button  *ngIf='userEmail == "test@test.com"' [routerLink]="['/admin']">
          <ion-icon name="md-contact" slot="start"></ion-icon>
            Admin
        </ion-button>
      </ion-col>
      <ion-col style = "margin-left: 200px;">
        <ion-button expand="full" fill="clear" color="light" (click)="logout()">
          <ion-icon name="md-exit" slot="start"></ion-icon>
          Logout
        </ion-button>
      </ion-col>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" padding="true">
<h1>Home Page</h1><p>Working on getting plugins etc working on the app. each page has a different function at the moment. Will tie them all together later. Also might change from firebase to a different database</p>
<p>card reader & nfc reader will not work in browser as cordova plugins cant be used in browser. must run in emulator/on device</p>
<h1>Logged in user : {{userEmail}}</h1>
</ion-content>

<!-- <ion-footer (click)="logout()" color="secondary">
  <ion-toolbar color="success">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer> -->

<ion-footer color="secondary"> 
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Footer buttons -->
      <ion-button [routerLink]="['/shopping']">
        <ion-icon name="md-cart" slot="start"></ion-icon>
          shopping
      </ion-button>
      <ion-button [routerLink]="['/productlist']">
        <ion-icon name="md-cart" slot="start"></ion-icon>
          product list
      </ion-button>
      <ion-button [routerLink]="['/card-reader']">
        <ion-icon name="md-card" slot="start"></ion-icon>
          card reader
      </ion-button>
      <ion-button [routerLink]="['/nfc']">
        <ion-icon name="md-exit" slot="start"></ion-icon>
          nfc
      </ion-button>
      <ion-button [routerLink]="['/paypal']">
        <ion-icon name="logo-pinterest" slot="start"></ion-icon>
          paypal
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>