<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Header buttons -->
      <ion-button [routerLink]="['/christian']">christian</ion-button>
      <ion-button [routerLink]="['/card-reader']">card reader</ion-button>
      <ion-button [routerLink]="['/nfc']">nfc</ion-button>
      <ion-button [routerLink]="['/paypal']">paypal</ion-button>
     <!-- <ion-button *ngIf="auth.zTiqKyNvyNddqt6CKY40iRA00e73" [routerLink]="['/idea']">account details</ion-button> -->
      <ion-button [routerLink]="['/account-list']">account list</ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" padding="true">
<h1>Home Page</h1><p>Working on getting plugins etc working on the app. each page has a different function at the moment. Will tie them all together later. Also might change from firebase to a different database</p>
<p>card reader & nfc reader will not work in browser as cordova plugins cant be used in browser. must run in emulator/on device</p>
<h1>Logged in user : {{userEmail}}</h1>
</ion-content>

<!-- <ion-footer (click)="logout()" color="secondary">
  <ion-toolbar color="success">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer> -->

<ion-footer color="secondary"> 
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="logout()">
      <ion-icon name="close-circle" slot="start"></ion-icon>
      Logout
    </ion-button>
  </ion-toolbar>
</ion-footer>