<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
       <!-- development button -->
      <ion-button [routerLink]="['/christian']">christian</ion-button>
      <ion-button [routerLink]="['/card-reader']">card reader</ion-button>
      <ion-button button-icon ion-home [routerLink]="['/home']">home</ion-button>
    </ion-buttons>
    <ion-title>Accounts</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/idea">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
  <ion-list>
    <ion-item button [routerLink]="['/idea', idea.id]" *ngFor="let idea of (accs | async)">
      {{ idea.name }}
    </ion-item>
  </ion-list>
</ion-content>