<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
       <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Accounts</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content color="secondary">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  routerLink="/idea">
      <ion-icon name="add" color="secondary"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
  
  <ion-list>
    <ion-item color="secondary" button [routerLink]="['/idea', idea.id]" *ngFor="let idea of (accs | async)">
      {{ idea.item }}
      <ion-img [src]="idea.image"></ion-img>
    </ion-item>
    
  </ion-list>
</ion-content>