<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
       <ion-back-button defaultHref="/"></ion-back-button>
       <ion-button [routerLink]="['/home']">Home</ion-button>
    </ion-buttons>
    <ion-title>nfc</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()">
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-button fill="clear" (click)="addToCart()">
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>

  <ion-content color="secondary">
    <ion-button shape="round" (click)="onDoneClicked()" expand="block">READ</ion-button>
</ion-content>