<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
         <!-- development button -->
         <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-button-title-size">Card Reader</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <!-- <div color="tertiary" class="addButton" (click)="addCard()">
    <ion-icon name="add"></ion-icon>
    Add Card
  </div> -->

  <ion-button shape="round" class="addCard" (click)="addCard()" expand="block"
  style="height: 70%; width: 90%; margin: 25% auto auto;font-size: 50px">ADD CARD
</ion-button>

</ion-content>