<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/seller/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card color="light">
    <!-- create a product form -->
  <form [formGroup]="productForm" (ngSubmit)="createProduct()">
    <div class="product-image ion-text-center" color="light">
      <!-- image -->
      <img [src]="productImageBase64" *ngIf="productImageBase64">
      <ion-button type="button" expand="full" fill="clear" (click)="selectImage()">
        Select product image
      </ion-button>
      </div>
      <!-- Product name -->
    <ion-item color="light">
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
    </ion-item> 
    <!-- Price -->
    <ion-item color="light">
        <ion-label position="stacked">Price</ion-label>
        <ion-input formControlName="price"></ion-input>
    </ion-item>
    <!-- Category -->
    <ion-item color="light">
      <ion-label position="stacked">Category</ion-label>
      <form [formGroup]="productForm">
        <select formControlName="categoryControl">
          <option [value]="category" *ngFor="let category of categories">{{category}}</option>
        </select>
      </form>
    </ion-item>
    <!-- Description -->
    <ion-item color="light"> 
        <ion-label position="stacked">Description</ion-label>
      <ion-input formControlName="desc"></ion-input>
  </ion-item>
<!-- read in the tag id-->
<ion-button shape="round" (click) ="readNFC()" expand="block">Read
</ion-button>
<!-- save product -->
<ion-button type="submit" expand="block" class="ion-padding-horizontal ion-margin-vertical"[disabled]="!productForm.valid">
  Save Product
</ion-button>
</form>
</ion-card>
</ion-content>