<!-- <ion-tabs>
  <ion-tab label="Home" icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="List" icon="information-circle" href="/tabs/(list:list)">
    <ion-router-outlet name="list"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Contact" icon="contacts" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
</ion-tabs> -->


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list">
      <ion-icon name="list"></ion-icon>
      <ion-label>LIST</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="send"></ion-icon>
      <ion-label>CONTACT</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>