<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons color="light" slot="start">
      <!--<ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>-->
      <ion-button [routerLink]="['/nfc']">nfc</ion-button>
      <ion-button [routerLink]="['/buyer']">buyer</ion-button>
      <ion-button [routerLink]="['/seller']">seller</ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

</ion-content>
